main div.group 
    width: 100% !important
    gap: 8px !important
    padding: 0 !important
    flex-direction: column !important
    flex-wrap: nowrap !important

    &.row 
        flex-direction: row !important

    &.wrap 
        flex-direction: row !important
        flex-wrap: wrap !important