input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], input[type="datetime-local"], input[type="month"], input[type="url"], input[type="date"], input[type="time"], select 
    position: relative !important
    padding: 8px 16px !important
    font-size: 15.5px !important
    // background-color: #eee !important
    border: 1px solid #b3b3b3 !important
    border-radius: 6px !important 
    max-width: 228px !important
    max-height: 40.58px !important

select
    padding: 8px 14px !important
    width: 100% !important