Body.Category-Page

    main

        > #list-category
            justify-content: center !important
            align-items: center !important

            > div.group
                gap: 8px !important
                justify-content: center !important

                > div.group
                    justify-content: center !important

                    > img
                        width: 100px !important

                > button, > input[type="submit"]
                    align-self: center !important