Body.Change-Password-Page

    main
        justify-content: center !important

        > #change-password

            > div.box
                width: unset !important

                > div.group

                    > div.group:nth-child(1)
                        gap: 12px !important
                        margin-top: 12px !important
                        margin-bottom: 22px !important

                    > button
                        width: 100% !important
                        margin-bottom: 8px !important