Body.Create-Product-Page

    main

        > #list-product

            div.group
                align-items: center !important
                justify-content: center !important

            img
                width: 100px !important

        > #create-product

            > form
                flex-direction: column !important
                gap: 8px !important
                align-items: center !important

                > input, > div.group
                    align-self: center !important

                > button, > input[type="submit"]
                    width: 100% !important