Body.Create-Product-Page

    main

        > #product

            > div.group.row
                width: unset !important
                gap: 33px !important
                justify-content: center !important

                > div.group
                    width: unset !important
    
                > div.group:nth-child(1)
                    
                    > img
                        width: 400px !important
                        aspect-ratio: 1 !important
                
                > div.group:nth-child(2)

                    > div.group:nth-child(2)
                        flex-direction: column !important

                        > div.group
                            margin: 0 !important