Body.Create-Product-Page

    main

        > #create-product

            > form
                flex-direction: column !important
                gap: 8px !important
                align-items: center !important

                > input
                    align-self: center !important

                > button, > input[type="submit"]
                    width: 100% !important