Body.Product-Page

    main

        > #list-product
            justify-content: center !important
            align-items: center !important

            > div.group
                gap: 8px !important
                justify-content: center !important

                > div.group
                    justify-content: center !important

                > button, > input[type="submit"]
                    align-self: center !important